<h2 data-text="{{title}}">{{title}}</h2>
<ul class="list">
  {{#each items}}
    <li>
      <a href="/quiz/{{id}}" data-text="{{title}}"><strong>{{title}}</strong></a>
      <span>({{questionCount}} questions)</span>
    </li>
  {{/each}}
</ul>
